{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="p-4 mb-3 bg-light rounded-3">
    <div class="container-fluid py-5 text-center">
      <h1 class="display-5 fw-bold">Create an Account to Get Started</h1>
      <p class="col-12 fs-5">
        Sign up below to set up your own personal diary!<br>Our diary is pre-structured to allow you to record in depth
        notes rapidly!<br>
        {% blocktrans %}
        Already have an account? Then login <a href="{{ login_url }}">here</a>.
        {% endblocktrans %}
      </p>
      <div class="row text-center">
        <img class="m-auto hide-text" id="myIMG2"
          src="https://res.cloudinary.com/dqk6bfwfk/image/upload/v1665316657/static/images/racing-images/horse-jump-racing-header_ibe7xo.jpg"
          alt="image of horses racing as seen from behind">
        <div class="col-sm-12 col-md-8 mt-4 m-auto">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "&nbsp&nbsp&nbspSign Up&nbsp&nbsp&nbsp" %} &raquo;</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 m-auto">
          <h3 class="mt-5 text-white">Create an account with Google</h3>
          <div id="g_id_onload"
            data-client_id="479612238169-k979d650mm7oa5fr12n84m26fmtihocq.apps.googleusercontent.com"
            data-context="signup" data-ux_mode="redirect" data-login_uri="/create_new_entry" data-nonce=""
            data-auto_select="true" data-itp_support="true">
          </div>

          <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black"
            data-text="signup_with" data-size="large" data-logo_alignment="left">
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?" async defer></script>
<script>
  document.getElementById("myIMG2").style.maxHeight = "250px";
  document.getElementById("myIMG2").style.maxWidth = "80%";
</script>
{% endblock %}
