{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="col-lg-8 m-auto p-4 mb-3 rounded-3 grad">
    <div class="container-fluid py-5 text-center">
      <h1 class="display-4">Create an Account to Get Started</h1>
      <p class="col-12">
        Sign up below to set up your own personal diary!<br>Our diary is pre-structured to allow you to record in depth
        notes rapidly!<br>
        {% blocktrans %}
        Already have an account? Then login <a href="{{ login_url }}">here</a>.
        {% endblocktrans %}
      </p>
      <div class="row text-center">
        <img class="m-auto hide-text" id="myIMG2"
          src="https://res.cloudinary.com/dqk6bfwfk/image/upload/v1665316657/static/images/racing-images/horse-jump-racing-header_ibe7xo.jpg"
          alt="image of horses racing as seen from behind">
        <div class="col-sm-12 col-md-8 mt-4 m-auto">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "&nbsp&nbsp&nbspSign Up&nbsp&nbsp&nbsp" %} &raquo;</button>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 m-auto">
        <a href="{% provider_login_url 'google' %}"><h3 class="mt-5 heading-style">Create an account with Google</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?" async defer></script>


<script>
  document.getElementById("myIMG2").style.maxHeight = "250px";
  document.getElementById("myIMG2").style.maxWidth = "80%";
</script>
{% endblock %}
