{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12 ">
                <h1>Your racing diary entries</h1>
            </div>
        </div>
    </div>
{% for entry in entries %}
    <div class="container bg-light">
        <div class="row">
            <div class="col-8 mt-3 ms-auto me-auto">
                <h3>Title of the race: {{ entry.race_title }}</h3>
    <p class="paragraphtext">Grade of the race: {{ entry.grade }}</p>
    <p class="paragraphtext">Distance the race was run at: {{ entry.distance }}</p>
    <p class="paragraphtext">The condition of the ground: {{ entry.going }}</p>
    <hr>
    <h2>{{ entry.horse_name }}</h2>
    <div class="row card">
        <div class="col-8 mb-4 .card-body">
            {{ entry.note_detail }}
        </div>
    </div>
    <hr>

    <p class="paragraphtext">Winner of the race: {{ entry.result_1 }}</p>
    <p class="paragraphtext">2nd place finish: {{ entry.result_2 }}</p>
    <p class="paragraphtext">3rd place finish: {{ entry.result_3 }}</p>
    <p class="paragraphtext">Finish position of noted entry: {{ entry.result_of_entry }}</p>
    <p class="paragraphtext">Trainer of noted entry: {{ entry.trainer }}</p>
    <p class="paragraphtext">Jockey that rode on the day: {{ entry.jockey }}</p>
    <p class="paragraphtext">The number of runners that ran in the race: {{ entry.num_of_runners }}</p>

    <a href="edit_entry/{{ entry.id }}" class="button btn mt-4" style="background-color: #166475; color:white">Edit This Entry</a>
    <a href="delete_entry/{{ entry.id }}" class="button btn mt-4" style="background-color: #166475; color:white">Delete This Entry</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}



