{% extends "base.html" %}

{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col-12">
            <h1>Your Personal Racing Diary</h1>
            <!-- <div class="test">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet id dolore est, obcaecati aliquid
                    molestiae voluptates corporis nulla quasi eius adipisci ea nobis totam magni deleniti sit nam,
                    soluta dolorem.
                </p>
                <button class="btn btn-primary">Create an account</button>
            </div> -->
            <div class="card bg-dark text-white">
                <img src="https://www.rp-assets.com/images/news/2018/05/22/43103-large.jpeg" height="620px" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
                <button class="btn btn-primary" style="background-color: #00495a">Create an account</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}