{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-sm-10 col-md-8 col-lg-10 m-auto">
      <h1 class="landing-header">Punters Pal-Your Personal Racing Diary</h1>
      <div id="hero" class="card bg-dark ">
        <img
          src="https://res.cloudinary.com/dqk6bfwfk/image/upload/v1665225506/static/images/racing-images/horse-race-2714846_1280.6103e126f253.jpg"
          id="myIMG" class="card-img" alt="Image of horses racing">

        <div class="card-img-overlay">
          <h4 class="card-title text-center hide-text"><em>Record race Details in your personal database</em></h4>
        </div>
      </div>


      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Personal Racing Diary</h5>
          <p class="card-text">For the racing enthusiast to keep track of horses they want to follow.</p>
          <p class="card-text">Our diary is pre-formatted to suit racing data so you can quickly record important
            information about a horses run</p>
          {% if not user.is_authenticated %}
          <a href="{% url 'account_signup' %}" class="button btn mt-4"
            style="background-color:#cdb06f; color:black;">Create
            an account</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("myIMG").style.maxHeight = "550px";
</script>

{% endblock %}